@import "tailwindcss";

@theme {
  --font-serif: "Georgia", ui-serif, Cambria, "Times New Roman", Times, serif;
  --font-sans: "Helvetica Neue", Helvetica, ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-green: #1B422B;
  --color-brand-light: #F8FAF7;
  --color-accent-gold: #2B603D;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-green);
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
}

